/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
/*fonts*/
--main-font: 'Inter-Variable';
--accent-font: 'PressStart2P';
--main-font-weight: 400;
--main-font-bold-weight: 700;

--background-color: #FFFFFF;
--accent-color: rgba(0, 0, 0, 1);
}